/* shapes */
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}

.btn {
  display: block;
  width: fit-content;
  background-color: #0075ff;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  transition: background-color var(--main-dur) linear;
  -o-transition: background-color var(--main-dur) linear;
  -moz-transition: background-color var(--main-dur) linear;
  -webkit-transition: background-color var(--main-dur) linear;
}

.btn:hover {
  background-color: var(--blue-alt-color);
  color: white;
}

/* components */
.toggle > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.toggle > .toggle__btn {
  --toggle-width: 78px;
  width: var(--toggle-width);
  height: 32px;
  padding: 3px;
  border-radius: 16px;
  background-color: var(--blue-color);
  cursor: pointer;
  transition: background-color var(--main-dur) linear;
}

.toggle > input:focus-visible + .toggle__btn {
  outline: 3px solid black;
}

.toggle > .toggle__btn::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--blue-color);
  background-color: white;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--main-dur) ease-out, color var(--main-dur) linear;
  -o-transition: transform var(--main-dur) ease-out,
    color var(--main-dur) linear;
  -moz-transition: transform var(--main-dur) ease-out,
    color var(--main-dur) linear;
  -webkit-transition: transform var(--main-dur) ease-out,
    color var(--main-dur) linear;
}

.toggle > input:not(:checked) + .toggle__btn::before {
  content: "\f00d";
  color: var(--main-border-clr);
}

.toggle > input:not(:checked) + .toggle__btn {
  background-color: var(--main-border-clr);
}

.toggle > input:checked + .toggle__btn::before {
  transform-origin: right center;
  transform: translateX(calc(var(--toggle-width) - 100% - 6px));
}

/* box layout */
.d-flex {
  display: flex;
}

.just-sb {
  justify-content: space-between;
}

.just-c {
  justify-content: center;
}

.just-end {
  justify-content: flex-end;
}

.align-c {
  align-items: center;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

.gap-15 {
  gap: 15px;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.d-block {
  display: block;
}
/* padding */
.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.p-15 {
  padding: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}
/* margin */
.mb-25 {
  margin-bottom: 25px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.w-full {
  width: 100%;
}
/* font */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.f-italic {
  font-style: italic;
}

.fs-l {
  font-size: 32px;
}

.fs-m {
  font-size: 24px;
}

.fs-n {
  font-size: 16px;
}

.fs-s {
  font-size: 15px;
}

.fs-ss {
  font-size: 14px;
}

.fs-xs {
  font-size: 13px;
}

.txt-c {
  text-align: center;
}
/* colors */
.bg-main {
  background-color: #f1f5f9;
}
.bg-eee {
  background-color: #eee;
}

.bg-white {
  background-color: white;
}

.clr-white {
  color: white;
}

.clr-black {
  color: black;
}

.clr-light {
  color: #888;
}

.clr-orange {
  color: #f59e0b;
}

.clr-blue {
  color: #0075ff;
}

.clr-green {
  color: #22c55e;
}

.clr-red {
  color: #f44336;
}
/* border radius */
.rad-6 {
  border-radius: 6px;
}

.rad-10 {
  border-radius: 10px;
}

.border-ccc {
  border: 1px solid #ccc;
}

.border-b-ccc {
  border-bottom: 1px solid #ccc;
}

/* layout */
.ovflow-h {
  overflow: hidden;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

/* position */
.pos-rel {
  position: relative;
}
