/* global variables */
:root {
  --side-bar-width: clamp(60px, 23.7vw, 220px);
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --red-color: #f44336;
  --dark-white: #f6f6f6;
  --main-light-clr: #888;
  --main-border-clr: #ccc;
  --green-color: #22c55e;
  --orange-color: #f59e0b;
  --main-dur: 300ms;
}

/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:focus-visible {
  outline: 3px solid var(--blue-color);
  transition: outline-offset 150ms ease-in-out;
  -o-transition: outline-offset 150ms ease-in-out;
  -moz-transition: outline-offset 150ms ease-in-out;
  -webkit-transition: outline-offset 150ms ease-in-out;
  outline-offset: -3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: inset 0 0 3px gray;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

/* reusable components */
.main__heading {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.sub-heading {
  font-size: 16px;
  color: var(--main-light-clr);
  margin-block: 13px 16px;
}

/* page styles */
#page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-left: var(--side-bar-width);
}

/* side bar styles */
.page__sidebar {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--side-bar-width);
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
}

.page__sidebar::-webkit-scrollbar {
  width: 7px;
}

.sidebar__heading {
  letter-spacing: 1px;
  width: fit-content;
  padding: 0 15px 20px;
  margin: 0 auto 30px;
  font-size: 19px;
  text-align: center;
  position: relative;
  text-shadow: 0.05em 0.05em var(--blue-color),
    0.1em 0.1em var(--blue-alt-color);
}

.sidebar__heading::before,
.sidebar__heading::after {
  content: "";
  position: absolute;
  bottom: 0;
}

.sidebar__heading::before {
  width: 100%;
  height: 2px;
  left: 0;
  background-color: black;
}

.sidebar__heading::after {
  width: 12px;
  aspect-ratio: 1;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  background-color: black;
  border: 4px solid white;
}

.sidebar__links a {
  font-size: 14px;
  display: block;
  color: black;
  border-radius: 6px;
  padding: 10px;
  margin-block-end: 5px;
  transition: background-color var(--main-dur) linear,
    outline-offset 150ms ease-in-out;
  -o-transition: background-color var(--main-dur) linear,
    outline-offset 150ms ease-in-out;
  -moz-transition: background-color var(--main-dur) linear,
    outline-offset 150ms ease-in-out;
  -webkit-transition: background-color var(--main-dur) linear,
    outline-offset 150ms ease-in-out;
}

.sidebar__links a > span {
  margin-inline-start: 10px;
}

.sidebar__links > li > a.active {
  background-color: var(--dark-white);
}

.sidebar__links > li > a:hover {
  background-color: var(--dark-white);
}

@media (max-width: 767px) {
  .page__sidebar {
    padding: 0;
  }

  .sidebar__heading {
    font-size: 14px;
    letter-spacing: 0;
    padding: 0;
    text-align: center;
    margin: 10px auto 20px;
    text-shadow: none;
  }

  .sidebar__heading::before,
  .sidebar__heading::after {
    content: none;
  }

  .sidebar__links {
    padding-inline: 10px;
  }

  .sidebar__links > li > a {
    text-align: center;
  }

  :root {
    --side-bar-width: 60px;
  }
}

/* header styles */
.header {
  width: 100%;
}

@media (max-width: 767px) {
  .header {
    padding: 5px;
    gap: 10px;
  }
}

.header > .form {
  position: relative;
  margin-inline-start: 5px;
}

.header > .form > label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  gap: 5px;
  pointer-events: none;
}

.header > .form > label span {
  transition: opacity var(--main-dur) ease-in-out;
  -o-transition: opacity var(--main-dur) ease-in-out;
  -moz-transition: opacity var(--main-dur) ease-in-out;
  -webkit-transition: opacity var(--main-dur) ease-in-out;
}

.header > .form > label > i {
  font-size: 14px;
}
.header #search {
  border-radius: 10px;
  border: 1px solid var(--main-border-clr);
  width: min(100%, 160px);
  padding-left: 30px;
  transform-origin: left center;
  transition: width var(--main-dur) ease-in-out;
  -o-transition: width var(--main-dur) ease-in-out;
  -moz-transition: width var(--main-dur) ease-in-out;
  -webkit-transition: width var(--main-dur) ease-in-out;
}

.header #search:focus {
  outline: none;
  width: min(100%, 300px);
}

.header #search:focus + label span {
  opacity: 0;
}

.profile {
  gap: 15px;
}

.profile > .notify {
  position: relative;
}

.profile > .notify::before {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  background-color: var(--red-color);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -5px;
}

.profile img {
  max-width: 35px;
  aspect-ratio: 1;
  object-fit: cover;
}

/* content styles */
.page__content {
  min-height: 100vh;
  /* prevent collapsing margins */
  display: flow-root;
}

.page__content > h1 {
  padding-bottom: 20px;
  position: relative;
}

.page__content > h1::before,
.page__content > h1::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  height: 3px;
}

.page__content > h1::before {
  background-color: white;
  width: 120px;
}

.page__content > h1::after {
  background-color: black;
  width: 40px;
}

/* dashboard styles */
.dashboard {
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin: 0 20px 20px 20px;
}

@media (max-width: 767px) {
  .dashboard {
    grid-template-columns: 1fr;
    margin: 0 10px 10px 10px;
  }
}

.welcome-message > img:first-of-type {
  width: 200px;
  margin-bottom: -10px;
}

.welcome-message > .avatar {
  max-width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 2px solid white;
  outline-offset: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(25px, 50%);
  box-shadow: 0 0 5px #ddd;
}

#welcome > .info {
  margin-top: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#welcome > .info > div {
  width: 100%;
}

#welcome > .profile-link {
  margin: 0 15px 15px auto;
}

@media (max-width: 767px) {
  .welcome-message > .section__heading {
    text-align: center;
  }

  .welcome-message > .avatar {
    left: 50%;
    transform: translate(-50%, 50%);
  }
  #welcome > .info {
    flex-direction: column;
    gap: 25px;
  }
}

/* Draft styles */
#draft > form > input,
#draft > form > textarea {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  font-size: 14px;
}

#draft > form > textarea {
  resize: none;
  height: 150px;
}

#draft > form > input[type="submit"] {
  margin: 0 0 0 auto;
  width: fit-content;
  cursor: pointer;
}

/* yearly targets styles */
.targets > div {
  gap: 15px;
  align-items: center;
}

@media (max-width: 767px) {
  .targets > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
  }
}

.targets > div i {
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--i-clr);
  background-color: var(--i-bg);
}

.targets > div:nth-child(1) {
  --i-clr: var(--blue-color);
  --i-bg: rgb(0 117 255 / 20%);
}

.targets > div:nth-child(2) {
  --i-clr: var(--orange-color);
  --i-bg: rgb(245 158 11 / 20%);
}

.targets > div:nth-child(3) {
  --i-clr: var(--green-color);
  --i-bg: rgb(34 197 94 / 20%);
}

.targets .details {
  width: 100%;
}

.targets .details > .target__name {
  display: block;
  font-size: 14px;
}

.targets .details > .amount {
  margin-block: 5px 10px;
}

@media (max-width: 767px) {
  .targets .details > .target__name::after {
    content: ":";
  }

  .targets .details > .target__name,
  .targets .details > .amount {
    display: inline-block;
    margin-bottom: 35px;
  }
}

.targets .details > .prog-bar {
  --prog: 50%;
  width: 100%;
  height: 4px;
  background-color: var(--i-bg);
  position: relative;
}

.targets .details > .prog-bar::before {
  content: attr(data-prog);
  color: white;
  background-color: var(--i-clr);
  position: absolute;
  left: var(--prog);
  transform: translate(-50%, -100%);
  top: -10px;
  padding: 4px 7px;
  font-size: 13px;
  border-radius: 6px;
}

.targets .details > .prog-bar::after {
  content: "";
  position: absolute;
  top: -11px;
  left: var(--prog);
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: var(--i-clr);
}

.targets .details > .prog-bar > .bar {
  width: var(--prog);
  height: 100%;
  background-color: var(--i-clr);
  position: absolute;
  top: 0;
  left: 0;
}

/* tickets statistics styles */
.tickets {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .tickets {
    grid-template-columns: 1fr;
  }
}

.tickets > div {
  border: 1px solid var(--main-border-clr);
}

/* latest news styles */
#latest-news > .section__heading {
  margin-bottom: 30px;
}

.news > li:not(:last-child) {
  border-bottom: 1px solid var(--main-border-clr);
}

.news > li .info img {
  width: 100px;
  border-radius: 6px;
}

.news > li .text h3 {
  margin-bottom: 6px;
}

.news > li .date {
  padding: 4px 10px;
}

@media (max-width: 767px) {
  #latest-news {
    text-align: center;
  }

  .news > li {
    flex-direction: column;
    gap: 15px;
  }

  .news > li .info {
    flex-direction: column;
  }
}

/* latest tasks styles */
#latest-tasks > .section__heading {
  margin-bottom: 30px;
}

.tasks > li:not(:last-child) {
  border-bottom: 1px solid var(--main-border-clr);
}

.tasks > li .text h3 {
  margin-bottom: 6px;
}

.delete {
  transition: color var(--main-dur) linear;
  -o-transition: color var(--main-dur) linear;
  -moz-transition: color var(--main-dur) linear;
  -webkit-transition: color var(--main-dur) linear;
  cursor: pointer;
}

.delete:hover {
  color: var(--red-color);
}

.tasks > li del,
.tasks > li del + i {
  opacity: 0.3;
  cursor: not-allowed;
}

/* top search items styles */
#top-search :not(.main__heading) {
  text-shadow: 0 0 0.5px var(--main-light-clr);
}

#top-search .main__heading {
  margin-bottom: 20px;
}

#top-search > p span:last-child {
  text-align: end;
}

.items > li {
  padding-block: 15px;
}

.items .count {
  padding: 4px 10px;
}

/* latest uploads styles */
#latest-uploads :not(.main__heading) {
  text-shadow: 0 0 0.5px var(--main-light-clr);
}

.uploads > li:not(:last-child) {
  border-bottom: 1px solid var(--main-border-clr);
}

.uploads > li .info img {
  width: 40px;
  border-radius: 6px;
}

.uploads > li .text h3 {
  margin-bottom: 6px;
  width: max-content;
}

.uploads > li .size {
  padding: 4px 10px;
}

@media (max-width: 767px) {
  #latest-uploads .main__heading {
    margin-bottom: 30px;
  }

  #latest-uploads {
    text-align: center;
  }

  .uploads > li {
    flex-direction: column;
    gap: 15px;
  }

  .uploads > li .info {
    flex-direction: column;
  }
}

/* Last project progress styles */
#last-project {
  position: relative;
}

.last-prog {
  position: relative;
  --shape-width: clamp(10px, 5vw, 20px);
}

.last-prog::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  top: 0;
  left: calc(var(--shape-width) / 2);
  transform: translateX(50%);
}

.last-prog > li {
  margin-top: 25px;
  text-shadow: 0 0 0.5px var(--main-light-clr);
}

.last-prog > li::before {
  content: "";
  display: block;
  width: var(--shape-width);
  flex-shrink: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  outline: 2px solid var(--blue-color);
  border: 2px solid white;
  margin-right: 15px;
  z-index: 1;
}

.last-prog > li.done::before {
  background-color: var(--blue-color);
}

.last-prog > li.active::before {
  animation: background-fade 1600ms ease-in infinite;
}

@keyframes background-fade {
  0%,
  35%,
  100% {
    background-color: white;
  }
  65%,
  70% {
    background-color: var(--blue-color);
  }
}

#last-project > img {
  width: 150px;
  opacity: 0.15;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* reminders styles */
.reminders .text h3 {
  margin-bottom: 6px;
}

.reminders > li:nth-child(1) {
  --shape-clr: var(--blue-color);
}

.reminders > li:nth-child(2) {
  --shape-clr: var(--green-color);
}

.reminders > li:nth-child(3) {
  --shape-clr: var(--orange-color);
}

.reminders > li:nth-child(4) {
  --shape-clr: var(--red-color);
}

.reminders > li .text {
  border-left: 2px solid var(--shape-clr);
  padding-left: 15px;
}

.reminders > li::before {
  content: "";
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--shape-clr);
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .reminders > li {
    gap: 10px;
  }

  .reminders > li .text {
    padding-left: 10px;
  }

  .reminders .text h3 {
    font-size: clamp(12px, 5vw, 14px);
  }

  .reminders .text p {
    font-size: clamp(10px, 5vw, 13px);
  }
}

/* Latest post styles */
@media (max-width: 767px) {
  .author {
    flex-direction: column;
  }
}

.author > img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.author > .info h3 {
  margin-bottom: 5px;
}

.post {
  border-block: 1px solid var(--main-border-clr);
  line-height: 1.7;
  text-shadow: 0 0 0.5px var(--main-light-clr);
}

.post-stats > div:first-child > i,
.post-stats > div:last-child > i {
  transition: color var(--main-dur) linear, text-shadow var(--main-dur) linear;
  -o-transition: color var(--main-dur) linear,
    text-shadow var(--main-dur) linear;
  -moz-transition: color var(--main-dur) linear,
    text-shadow var(--main-dur) linear;
  -webkit-transition: color var(--main-dur) linear,
    text-shadow var(--main-dur) linear;
  cursor: pointer;
}

.post-stats > div:first-child > i:hover {
  color: var(--red-color);
  text-shadow: 0 0 2px var(--red-color);
}

.post-stats > div:last-child > i:hover {
  color: var(--blue-color);
  text-shadow: 0 0 2px var(--blue-color);
}

/* social media stats styles */
.social-medias > li .info {
  padding: 0 15px 0 18px;
  width: 100%;
}

.social-medias > li .info a {
  padding: 4px 10px;
  background-color: var(--brand-clr);
  transition: opacity var(--main-dur) linear;
  -o-transition: opacity var(--main-dur) linear;
  -moz-transition: opacity var(--main-dur) linear;
  -webkit-transition: opacity var(--main-dur) linear;
}

.social-medias > li .info a:hover {
  opacity: 0.85;
}

.social-medias > li .info a:focus-visible {
  outline-color: black;
}

.social-medias > li i {
  background-color: var(--brand-clr);
  width: 57px;
  aspect-ratio: 1;
  transition: transform var(--main-dur) linear;
  -o-transition: transform var(--main-dur) linear;
  -moz-transition: transform var(--main-dur) linear;
  -webkit-transition: transform var(--main-dur) linear;
}

.social-medias > li i:hover {
  transform: rotate(10deg);
}

@media (max-width: 767px) {
  .social-medias > li i {
    font-size: clamp(13px, 4vw, 30px);
    flex-shrink: 3;
  }

  .social-medias > li .info {
    padding-inline: 5px;
  }

  .social-medias > li .info span {
    font-size: 14px;
  }

  .social-medias > li .info a {
    font-size: 13px;
    text-shadow: 0 0 1px white;
  }
}

.social-medias > .twitter {
  --brand-clr: #1da1f2;
  color: var(--brand-clr);
}

.social-medias > .facebook {
  --brand-clr: #1877f2;
  color: var(--brand-clr);
}

.social-medias > .youtube {
  --brand-clr: #ff0000;
  color: var(--brand-clr);
}

.social-medias > .linkedin {
  --brand-clr: #0077b5;
  color: var(--brand-clr);
}

.social-medias > .twitter {
  background-color: rgb(29 161 242 / 20%);
}

.social-medias > .facebook {
  background-color: rgb(24 119 242 / 20%);
}

.social-medias > .youtube {
  background-color: rgb(255 0 0 / 20%);
}

.social-medias > .linkedin {
  background-color: rgb(0 119 181 / 20%);
}

/* projects styles */
#projects {
  grid-column: 1 / -1;
}

.table-container {
  overflow-x: auto;
}

.projects {
  width: 100%;
  min-width: 1000px;
  border-collapse: collapse;
  border-spacing: 0;
}

.projects th,
.projects td {
  padding: 15px;
  text-align: start;
}

.projects thead {
  border: 1px solid #eee;
  border-bottom: 0;
}

.projects tbody tr {
  transition: background-color var(--main-dur) linear;
}

.projects tbody tr:hover {
  background-color: #faf7f7;
}

.projects td {
  border: 1px solid #eee;
  border-top: 0;
}

.projects td > img {
  max-width: 30px;
  border-radius: 50%;
  outline: 1px solid white;
}

.projects td > img:not(:first-child) {
  margin-left: -15px;
}

.projects td > span {
  padding: 4px 10px;
  font-size: 13px;
  color: white;
  border-radius: 6px;
  background-color: black;
}

.projects td > span.pending {
  background-color: var(--orange-color);
}

.projects td > span.inprogress {
  background-color: var(--blue-color);
}

.projects td > span.completed {
  background-color: var(--green-color);
}

.projects td > span.rejected {
  background-color: var(--red-color);
}

/* Start Settings page styles */
.settings {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin: 0 20px 20px 20px;
}

@media (max-width: 767px) {
  .settings {
    grid-template-columns: 1fr;
    margin: 0 10px 10px 10px;
  }
}

/* site control styles */
#site-control > textarea {
  resize: none;
  height: 150px;
}

.option p {
  line-height: 1.6;
}

@media (max-width: 460px) {
  .option {
    flex-direction: column;
    align-items: center;
  }
}

/* general info styles */
#general-info input[type="email"]:disabled {
  background-color: #f0f4f8;
  color: #bbb;
  cursor: not-allowed;
}

/* social info styles */
.social-options > li > i {
  width: 40px;
  aspect-ratio: 1;
  background-color: var(--dark-white);
  border: 1px solid var(--main-border-clr);
  border-right: none;
  transition: color var(--main-dur) linear;
  border-radius: 6px 0 0 6px;
}

.social-options > li > input {
  background-color: var(--dark-white);
  border-radius: 0 6px 6px 0;
}

@media (max-width: 500px) {
  .social-options > li > input {
    font-size: 12px;
  }
}

.social-options > li:focus-within > i {
  color: black;
}

/* widgets control styles */
.widgets > li > input {
  appearance: none;
}

.widgets > li > label {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.widgets > li > label::before,
.widgets > li > label::after {
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
}

.widgets > li > label::before {
  content: "";
  width: 14px;
  aspect-ratio: 1;
  border: 2px solid var(--main-border-clr);
  background-color: white;
  transform: translate(-50%, -50%);
}

.widgets > li > label:hover::before {
  border-color: var(--blue-color);
}

.widgets > li > label::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 12px;
  color: white;
  background-color: var(--blue-color);
  width: 18px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--main-dur) linear;
}

.widgets > li > input:checked + label::after {
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

/* backup manager styles */
.backup-time > li > input {
  appearance: none;
}

.backup-time > li > label {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.backup-time > li > label::before,
.backup-time > li > label::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  aspect-ratio: 1;
}

.backup-time > li > label::before {
  width: 18px;
  border: 2px solid var(--main-light-clr);
  background-color: white;
  transform: translate(-50%, -50%);
}

.backup-time > li > label::after {
  width: 13px;
  background-color: var(--blue-color);
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--main-dur) ease-out;
}

.backup-time > li > input:checked + label::after {
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 767px) {
  .servers {
    flex-wrap: wrap;
  }
}

.servers > li > input {
  appearance: none;
}

.servers > li > input:checked + label {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.servers > li > label {
  border: 2px solid #eee;
  cursor: pointer;
}

/* start profile page styles */
.card {
  border-right: 1px solid var(--main-border-clr);
  flex-shrink: 0;
}

@media (max-width: 767px) {
  #profile {
    margin-inline: 10px;
    flex-direction: column;
  }

  #profile > .card {
    border-right: none;
    border-bottom: 1px solid var(--main-border-clr);
    width: 100%;
  }
}

#profile > .card .profile-image {
  max-width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin-inline: auto;
}

#profile > .card .user-name {
  font-size: 19px;
}

#profile > .card .level-bar {
  position: relative;
  height: 6px;
  width: 70%;
  margin-inline: auto;
}

#profile > .card .level-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--level);
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}

#profile > .card .rate {
  margin: 10px auto;
}

.info-container > .info {
  transition: background-color var(--main-dur) linear;
  -o-transition: background-color var(--main-dur) linear;
  -moz-transition: background-color var(--main-dur) linear;
  -webkit-transition: background-color var(--main-dur) linear;
}

.info-container > .info:hover {
  background-color: #eee;
}

.info-container .details {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 10px;
  column-gap: 20px;
}

@media (max-width: 767px) {
  .info-container .details {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }

  .info-container > .info > h4 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
}

.info-container .key::after {
  content: ": ";
}

.show-pub-tog .toggle__btn {
  height: 20px;
  font-size: 12px;
}

/* skills and activities styles */
.skills-activities {
  flex-wrap: wrap;
}

#my-skills {
  min-width: 300px;
  flex-grow: 1;
}

@media (max-width: 301px) {
  #my-skills {
    min-width: unset;
  }
}

.skills > li {
  line-height: 2;
}

#latest-activities {
  flex-grow: 3;
}

@media (max-width: 600px) {
  .activities > li {
    flex-direction: column;
  }

  .activities > li .info {
    flex-direction: column;
    text-align: center;
  }

  .activities > li .date span {
    display: inline;
  }

  .activities > li .date span:first-child:after {
    content: ": ";
  }
}

.activities > li img {
  max-width: 60px;
}

/* start projects page */
.projects-container {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin: 0 20px 20px 20px;
}

@media (max-width: 767px) {
  .projects-container {
    grid-template-columns: 1fr;
    margin: 0 10px 10px 10px;
  }
}

.projects-container > div {
  position: relative;
}

.projects-container > div > p {
  line-height: 1.7;
}

.projects-container > div > .project-time {
  position: absolute;
  top: 10px;
  right: 10px;
}

.projects-container > div > .team {
  padding-block: 30px 15px;
}

.projects-container > div > .team a:not(:first-child) {
  margin-left: -17px;
}

.projects-container > div > .team a:hover {
  position: relative;
  z-index: 10;
}

.projects-container > div > .team img {
  width: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.used-skills {
  border-block: 1px solid var(--main-border-clr);
  flex-wrap: wrap;
}

.used-skills > span {
  text-shadow: 0 0 0.5px #444;
}

.price-prog {
  flex-wrap: wrap;
}

.price-prog > .prog {
  position: relative;
  height: 8px;
  width: max(60%, 230px);
}

.price-prog > .prog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--prog);
  border-radius: 6px;
  background-color: var(--prog-clr);
}

.price-prog > span::before {
  content: "$ ";
  font-size: 19px;
}

/* start courses page */
.courses {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 20px 20px 20px;
}

@media (max-width: 767px) {
  .courses {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 0 10px 10px 10px;
  }
}

.course {
  position: relative;
  transition: transform var(--main-dur) ease, box-shadow var(--main-dur) ease;
  box-shadow: 2px 2px 3px var(--main-border-clr);
}

.course:hover {
  transform: translateY(-15px);
  box-shadow: 4px 4px 4px var(--main-border-clr);
}

.course > img.instructer {
  max-width: 60px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 15px;
  left: 15px;
}

.course > img.course__logo {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.course > .info > p {
  line-height: 1.5;
  max-width: 45ch;
}

.course > .details {
  position: relative;
}

.course > .details > a {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.course > .details > span::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
}

.course > .details > span.members::before {
  content: "\f007";
}

.course > .details > span.price::before {
  content: "\24";
}

/* start friends page */
.friends {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 20px 20px 20px;
}

@media (max-width: 767px) {
  .friends {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 0 10px 10px 10px;
  }
}

.friend {
  position: relative;
  padding-top: 50px;
}

.friend > .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}

.friend > .contact > a {
  color: #666;
  border-radius: 50%;
  transition: background-color var(--main-dur) linear,
    color var(--main-dur) linear;
}

.friend > .contact > a:hover {
  background-color: var(--blue-color);
  color: white;
}

.friend > img {
  border-radius: 50%;
  max-width: 100px;
  aspect-ratio: 1;
  display: block;
  margin: 0 auto 10px;
}

.friend > p {
  margin-block: 5px 15px;
}

.friend > .details {
  border-block: 1px solid var(--main-border-clr);
}

.friend > .details > span::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--blue-color);
}

.friend > .details > .friends-num::before {
  content: "\f118";
}

.friend > .details > .projects-num::before {
  content: "\f386";
}

.friend > .details > .articles-num::before {
  content: "\f1ea";
}

@media (max-width: 767px) {
  .friend > .info {
    flex-direction: column;
  }
}

.friend .show-del > .show {
  background-color: var(--blue-color);
}

.friend .show-del > .del {
  background-color: var(--red-color);
}

.friend .show-del > a:hover {
  opacity: 0.9;
}

.vip {
  position: relative;
}

.vip::after {
  content: "VIP";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: clamp(20px, 10vw, 40px);
  font-weight: 700;
  color: var(--orange-color);
  opacity: 0.2;
}

/* start files page */
.files-container {
  margin: 0 20px 20px 20px;
  align-items: flex-start;
}

.files-container > .files {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}

@media (max-width: 767px) {
  .files-container {
    margin: 0 10px 10px 10px;
    flex-direction: column;
  }

  .files-stats {
    order: -1;
    width: 100%;
  }
}

.files-stats {
  min-width: 260px;
}

@media (max-width: 370px) {
  .files-stats {
    width: 100%;
    min-width: unset;
  }

  .files-stats > div {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .files-stats > div .info h4,
  .files-stats > div .info h4 + span {
    display: inline;
  }

  .files-stats > div > .space {
    margin-left: 0;
  }
}

.files-stats .space {
  margin-left: auto;
}

.pdf-stats > i {
  background-color: rgb(0 117 255 / 20%);
}

.img-stats > i {
  background-color: rgb(34 197 94 / 20%);
}

.word-stats > i {
  background-color: rgb(244 67 54 / 20%);
}

.csv-stats > i {
  background-color: rgb(245 158 11 / 20%);
}

.files-stats > .upload {
  padding: 10px 15px;
  margin: 0 auto;
}

.files-stats > .upload:hover i {
  animation: go-up 750ms infinite;
}

@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* files styels */
.file {
  position: relative;
}

.file > i {
  position: absolute;
  top: 10px;
  left: 10px;
}

.file > .file-icon {
  display: block;
  margin: 15px auto;
  width: 60px;
  aspect-ratio: 1;
  transition: transform 200ms linear;
}

.file:hover > .file-icon {
  transform: rotate(5deg);
}

/* start plans page */
#plans {
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

@media (max-width: 767px) {
  #plans {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}

.free {
  --plan-clr: var(--green-color);
}

.basic {
  --plan-clr: var(--blue-color);
}

.premium {
  --plan-clr: var(--orange-color);
}

.plan > .type {
  border: 3px solid white;
  outline: 3px solid var(--plan-clr);
  background-color: var(--plan-clr);
}

.plan .plan-price {
  font-size: 40px;
}

.plan .plan-price sup {
  font-size: 30px;
  margin-left: -20px;
}

.plan > ul .yes {
  color: var(--green-color);
}

.plan > ul .no {
  color: var(--red-color);
}

.plan > ul .help {
  color: var(--main-light-clr);
  cursor: pointer;
}

.plan > .join {
  background-color: var(--plan-clr);
  font-size: 16px;
  font-weight: 600;
}

/* 
  <i class="fa-solid fa-xmark fa-fw no"></i>
*/
